<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Emintagram </title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static ' assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{%static 'assets/img/favicons/manifest.json'  %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#2eff20">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
{% load static %}
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com'%}">
    <link href=" https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link href="{% static 'vendors/prism/prism.'%}" rel="stylesheet">
    <link href="{% static 'vendors/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/css/theme.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/user.css'%}" rel="stylesheet" />
{% block head  %} {% endblock %} <!--   daha sonra kod eklemek için ayarladık-->
</head>


<body>
{% include 'ana_content.html' %}<!--  burada parçaladığımız kodları çağırdık -->
{% block degis1  %} {% endblock %}<!--   -->
{% block degis2  %} {% endblock %}
{% block degis3  %} {% endblock %}
{% include 'ana_footer.html' %}
</body>
</html>