
{% extends 'anaicerik.html' %}

{% block büyükyazi1 %}profil{% endblock %}

{% block büyükyazi2 %}paylaşılan gönderiler {% endblock %}

{% block büyükyazisag %}sagprofil{% endblock %}

{% block siteadi1 %}e-min{% endblock %} {% block siteadi2 %}tagram{% endblock %}

{% block iletisimsayfa %}bizimle iletişime geçin{% endblock %}
<!-- sağ taraftaki sayfa seçenekleri-->
{% block sayfaliste1 %}Anasayfa{% endblock %}

{% block sayfaliste2 %}Profil{% endblock %}

{% block sayfaliste3 %}Galeri{% endblock %}

{% block sayfaliste4 %} Sergiler{% endblock %}

{% block sayfaliste5 %}Hakkımızda{% endblock %}

{% block sayfaliste6 %}Blog{% endblock %}

{% block belirsiz1 %}{% endblock %}
{% block belirsiz2 %}{% endblock %}