 <section class="py-2">

        <div class="container px-md-5">
          <div class="row justify-content-center">
            <div class="col-10">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    {% load static %}
                  <div class="card border-0 mb-3"><img class="card-img-top" src="{% static 'assets/img/team/emin1.png'%}" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>{% block deneme %}{% endblock %} MUHAMMET EMİN KORKMAZ</h4>
                        <p class="text-warning mb-2">CEO</p>
                      </div>
                        {% load static %}
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="https://www.linkedin.com/in/muhammet-emin-korkmaz-a54993190/"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="https://www.instagram.com/eminkorkmazz1/?hl=tr"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="{% static 'assets/img/team/rasit.png'%}" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>RAŞİT ANTIKA</h4>
                        <p class="text-warning mb-2"></p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="https://www.linkedin.com/in/muhammet-emin-korkmaz-a54993190/"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="https://www.instagram.com/eminkorkmazz1/?hl=tr"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="{% static 'assets/img/team/cemal.png'%}" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>CEMAL KÜMÜŞTEKİN</h4>
                        <p class="text-warning mb-2"></p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="https://www.linkedin.com/in/muhammet-emin-korkmaz-a54993190/"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="https://www.instagram.com/eminkorkmazz1/?hl=tr"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="{% static 'assets/img/team/emir.png'%}" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>EMİRCAN ŞAHAN</h4>
                        <p class="text-warning mb-2"></p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="https://www.linkedin.com/in/muhammet-emin-korkmaz-a54993190/"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="https://www.instagram.com/eminkorkmazz1/?hl=tr"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="{% static 'assets/img/team/alperen.png'%}" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>ALPEREN BIYIKLI</h4>
                        <p class="text-warning mb-2">KAYIP CEO</p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="https://www.linkedin.com/in/muhammet-emin-korkmaz-a54993190/"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="https://www.instagram.com/eminkorkmazz1/?hl=tr"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>