 <section class="py-2">

        <div class="container px-md-5">
          <div class="row justify-content-center">
            <div class="col-10">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    {% load static %}
                  <div class="card border-0 mb-3"><img class="card-img-top" src="{% static 'assets/img/team/emin1.png'%}" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>{% block deneme %}{% endblock %} Emin Korkmaz</h4>
                        <p class="text-warning mb-2">Işık hızından birazcık yavas</p>
                      </div>
                        {% load static %}
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="{% static '#!'%}"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="{% static '#!'%}"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="{% static '#!'%}"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="{% static 'assets/img/team/rasit.png'%}" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>Eşşek Raşit</h4>
                        <p class="text-warning mb-2">izmite gel görürsün</p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="{% static '#!'%}"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="{% static '#!'%}"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="{% static '#!'%}"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="{% static 'assets/img/team/cemal.png'%}" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>Cemal mi kümüştekin</h4>
                        <p class="text-warning mb-2">Zenci mi Aslan</p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="{% static '#!'%}"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="{% static '#!'%}"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="{% static '#!'%}"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="{% static 'assets/img/team/emir.png'%}" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>Bay Aşk</h4>
                        <p class="text-warning mb-2">hazal nerde kanks</p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="{% static '#!'%}"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="{% static '#!'%}"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="{% static '#!'%}"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div class="card border-0 mb-3"><img class="card-img-top" src="{% static 'assets/img/team/alperen.png'%}" alt="" />
                    <div class="row g-0 card-body px-0 pt-2">
                      <div class="col-12 col-xl-8 text-center text-xl-start">
                        <h4>Kayıp şehir alperen</h4>
                        <p class="text-warning mb-2">Kankğa bu server sakaryada görüşrüz</p>
                      </div>
                      <div class="col-12 col-xl-4 justify-content-center fs-2 d-flex gap-1"><a href="{% static '#!'%}"><span class="team-social-icon fab fa-linkedin ml-3"></span></a><a href="{% static '#!'%}"><span class="team-social-icon fab fa-facebook ml-3"></span></a><a href="{% static '#!'%}"><span class="team-social-icon fab fa-instagram ml-3"></span></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>